<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Real-Time Update</title>
</head>
<body>
    <div id="data-container">
        <h1>Real-Time Data:</h1>
        <p id="data-value">Loading...</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('update', function(data) {
                $('#data-value').text(data.value);
            });
        });
    </script>
</body>
</html>
