<html>
<head>
<title>Books App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>

<h1>Books</h1>

{% for book in books %}
<div class="book">

  <h3>{{ book.title }}</h3>
  <p>By {{ book.author }}</p>

  <div class="actions">
    <a href="{{ url_for('edit', id=book.id) }}">
      <button>Edit</button> 
    </a>
    <a href="{{ url_for('delete', id=book.id) }}">
       <button>Delete</button>
    </a>
  </div>

</div>
{% endfor %}

<a href="{{ url_for('new') }}">
   <button>New Book</button>
</a>

</body>
</html>