<!-- display_info.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Display Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>People Information</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/display_info">Display Info</a></li>
        </ul>
    </nav>
    <ul>
        <li>John</li>
        <li>Ricardo</li>
        <li>Ross</li>
        <li>Jake</li>
    </ul>
</body>
</html>